body {
  background-color: #282c34;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App > *{
  display: flex;
  justify-content: center;
}

#url{
  width: 75%;
  padding: 10px;
  font-size: 20px ;
  border: 1px black;
  }
  #title {
    width: 60%;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    
    }

  #mybutton{
    width:15%;
    height: 50px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin-top: 0px;
    cursor: pointer;
    background: #dfdfdf;
  }

  .iterate-info {
    background: white;
    margin: 20px 40px;
    font-size: 20px;
  }
  .feeds-container {
    width: 82%;
    height: 550px;
  } 
  @media screen and (max-width: 1024px) {
    .feeds-container {
        width: 90%;
    }
  }
  @media screen and (max-width: 480px) {
    #url{
      width: 73%;
    }
    #title{
      width: 40%;
    }
    #mybutton{
      width: 32%;
    }
    .feeds-container {
      width: 100%;
    }
  }